{% extends 'layout.html' %}

{% block content %}

{% from 'includes/_formhelpers.html' import render_field %}

<form action="" method="post">
    <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" name="username" value="{{ request.form.username }}" placeholder="Enter Username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" value="{{ request.form.password }}" placeholder="**********">
    </div>
    <p><button type="submit" class="btn btn-primary">Login</button></p>
</form>

{% endblock %}